<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoverageXmlGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CoverageXmlGenerator.Properties.Settings>
            <setting name="NotFound" serializeAs="String">
                <value>Not Found Coverage File.</value>
            </setting>
            <setting name="CoverageFileExtension" serializeAs="String">
                <value>.coverage</value>
            </setting>
            <setting name="Created" serializeAs="String">
                <value>Created Coverage Xml File: </value>
            </setting>
            <setting name="Found" serializeAs="String">
                <value>Found Coverage File: </value>
            </setting>
            <setting name="DefaultGeneratedFineName" serializeAs="String">
                <value>result.coveragexml</value>
            </setting>
        </CoverageXmlGenerator.Properties.Settings>
    </applicationSettings>
</configuration>